/* Full-Screen Background */
.home-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../../public/images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
  }
  

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #5c3d2e; 
    font-family: "Playfair Display", serif;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    max-width: 600px;
  }

  .get-started {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    border: none;
    background-color: #b38b7c;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .get-started:hover {
    background-color: #9c7265;
  }
  

  .home-container {
    background: none !important;
    box-shadow: none !important;
  }
  